@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

:root  {
  --background: 254 100% 95%;
  --foreground: 254 5% 0%;
  --card: 254 50% 90%;
  --card-foreground: 254 5% 10%;
  --popover: 254 100% 95%;
  --popover-foreground: 254 100% 0%;
  --primary: 254 49.7% 28.8%;
  --primary-foreground: 0 0% 100%;
  --secondary: 254 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 216 30% 85%;
  --muted-foreground: 254 5% 35%;
  --accent: 216 30% 80%;
  --accent-foreground: 254 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 254 5% 90%;
  --border: 254 30% 50%;
  --input: 254 30% 18%;
  --ring: 254 49.7% 28.8%;
  --radius: 0.5rem;
}

.dark  {
  --background: 254 50% 5%;
  --foreground: 254 5% 90%;
  --card: 254 50% 0%;
  --card-foreground: 254 5% 90%;
  --popover: 254 50% 5%;
  --popover-foreground: 254 5% 90%;
  --primary: 254 49.7% 28.8%;
  --primary-foreground: 0 0% 100%;
  --secondary: 254 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 216 30% 15%;
  --muted-foreground: 254 5% 60%;
  --accent: 216 30% 15%;
  --accent-foreground: 254 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 254 5% 90%;
  --border: 254 30% 18%;
  --input: 254 30% 18%;
  --ring: 254 49.7% 28.8%;
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(270deg, #36256E, #E73493);
  background-size: 400% 400%;
  animation: gradientMove 15s ease infinite;
}